<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There has been a requested estimate by: <%= @user.name %>!</h1>
    <p>
      Their email is : <%= @user.email %>.<br>
    </p>
    <p>Their phone number is: <%= @user.phone_number %>.</p>
  </body>
</html>